<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDcyPWx7tufBSgC96o43QSFnzCAQLwoF4</string>
	<key>GCM_SENDER_ID</key>
	<string>511357893450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alzheimersapporig.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>alzheimerapp-9c65f</string>
	<key>STORAGE_BUCKET</key>
	<string>alzheimerapp-9c65f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511357893450:ios:b2f9f7caf95b5b1c28dfb3</string>
</dict>
</plist>